                                    /* Селектор типа */


body  /* правило относится к тегу body */
{
    font-size: 20px;
}


h1
{
    color: red;
    text-decoration: underline;
}


a   /* убрать подчеркивание у ссылок */
{
    text-decoration: none;
}



                                /* Селектор класса */

.e_boy  /* класс e_boy , классы могут иметь любые названия*/
{
    font-size: 24px;
}


.attribute,
[class="attribute"]  /* Селектор атрибута, значит что в атрибуте class только значение  attribute*/
{
    color: green;
}


[data-id="8"]   /* data атрибуты */
{
    color: green;
}


                                   /* Селектор идентификатора */



#intro,   /* идентификатор всегда должен быть уникальным */
[id="intro"]
{
    border-top: 5px solid !important;
}


                                    /* Дочерний селектор*/

section .children   /* .children является дочерним элементом селектора section (то есть внутри тега section)*/
{
    color: blue;
}

                                    /* Прямой дочерний селектор*/

#intro > .children
{
    color: gray;
}

/* Сделать цвет текста в списке дочерних селекторов красным*/
#intro ul li.children
{
    color: red;
}
                                    /* Селектор наличия атрибута*/

a[target] /* Если у тега "a" есть атрибут "target"*/
{
    padding: 0 10px; /* Отступ по бокам"*/
}



                                    /* Селектор сравнения атрибута*/

a[href="https://google.com"] /* Если у тега "a" есть атрибут "href" со значением "https://google.com"*/
{
    font-family: "Comic Sans MS", cursive, sans-serif;
}



a[href*="google.com"] /* Если у тега "a" есть атрибут "href" со значением в котором есть "google.com"*/
{
    color: green;
}

a[href^="https://"] /* Если у тега "a" есть атрибут "href" со значением "https://" в начале строки*/
{
    color: green;
}


a[href$=".com"] /* Если у тега "a" есть атрибут "href" со значением ".com" в конце строки*/
{
    color: green;
}


a[tag~="web"] /* выделить ссылку "a" у которой значение атрибута "tag" содержит слово "web"*/
{
    color: green;
}

a[data-value|="selectors"]  /* выделить ссылку у которой значение атрибута "data-value" содержит слово "selectors" и*/
{
    color: orange;
}




                                    /* Псевдоклассы */


table
{
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

/* Добавить левую границу всем первым ячейкам в строке */

td:first-child,     /* Первый потомок тега td */
th:first-child      /* Первый потомок тега th */
{
    border-left: 1px solid blue;
    background: blue;
}

/* Закруглить правый верхний угол таблицы */
thead > tr > th:last-child
{
    border-top-right-radius: 6px;
}

/* Подсвечивает оранжевым при наведении мышкой (в данном случае в таблице) */
tr:hover
{
    color: orange;
}

